//巻数追加フォーム
.volumeAddForm-inputField label {
  font-weight: 600;
}

#book_store_id {
  width: 140px;
  padding: 5px;
}

#book_volumes {
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}

.checkbox-cell {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}



//所有巻リスト
.possessionList-table {
  width: 100%;
}

.possessionList-table td {
  text-align: center;
  border-bottom: 2px solid #ddd;
}



